# Logs
yt-gui-log-*.txt
yt-gui-update-log-*.txt

# Binaries
yt-dlp.exe

# Output folders
videos/
releases/

# OS
Thumbs.db
Desktop.ini

# Editor
.vscode/

# Local planning docs
plan.md

# Local workspace 
yt-dlp.code-workspace

# GitIgnore
.gitignore
